# Secrets for Plausible and Clickhouse. This file is sourced by start.sh

# Used by Plausible. Min. length must be 32 characters long. Generate using:
# openssl rand -hex 64
export SECRET_KEY_BASE=

# Used by Plausible. Must be base64 encoded and exactly 32 bytes long. Generate using:
# openssl rand -base64 32
export TOTP_VAULT_KEY=

# Used by Clickhouse and Plausible. Login password for the 'default' user.
# openssl rand -hex 32
export CLICKHOUSE_DB_PASSWORD=
